@page "/"

<h1>Hello! My name is Chance Mullen and I am studying Software Engineering at Florida Gulf Coast University. My interests in the computer science world are; 
  Software Security, Networking, and videogame development.</h1>


<SurveyPrompt Title="How is Blazor working for you?" />
